@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  flex: 1;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}